<div id="page-wrapper" ng-controller="cargoController">
<br><br>
<label>{{mensaje}}</label>
   
    <h3 class="text-center tit2">Crear Cargo</h3>
    <div class="formularios">    
    <form>
        <div class="form-group">
            <label for="tipo">Cargo</label>
            <input type="text" class="form-control" id="tipo" placeholder="Cargo de un Empleado" ng-model="tipo">
        </div>
         <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <input type="text" class="form-control" id="descripcion" placeholder="Descripción del cargo" ng-model="descripcion">
        </div>
        
        <div class="inputs">
            <a href="" ng-click="enviar();"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><p>Guardar</p> </a> <br><br>
        </div>
    </form>
    </div>

</div>