<div id="page-wrapper" ng-controller="usuariotipoController">
<br><br>
<label>{{mensaje}}</label>
   
    <h3 class="text-center tit2">Crear Tipo de Usuario</h3>
    <div class="formularios">    
        <form>
            <div class="form-group">
                <label for="tipo">Tipo de usuario</label>
                <input type="text" class="form-control" id="nombre" placeholder="Tipo de usuario" ng-model="nombre">
            </div>
        </form>
        <div class="inputs">
            <a href="" ng-click="enviar();"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><p>Guardar</p> </a> <br><br>
        </div>
    </div>

</div>