section.Cont-Hab{
	display: block;
	position:relative;
	width: 80%;
	margin: auto;
	padding: 10px;
}
.foto{
	
	height: 100px;
	background-color: green;
}
.desc{
	height: 100px;
	background-color: blue;
}
.Hab{
	border: solid;
	border-radius: 5px;
	border-width: 1px;
	margin-bottom: 40px;
}
