<div id="page-wrapper" ng-controller="hotelController">

    <h3 class="text-center tit2">Registro de Hoteles</h3>
    <div class="formularios">
        <form>
            <div class="form-group ">
                <label for="">Nombre del Hotel</label>
                <input type="text" class="form-control" id="nombre" placeholder="Nombres" ng-model="nombre">
            </div>
            <div class="form-group ">
                <label for="pais">País</label>
                <input type="text" class="form-control" id="pais" placeholder="Apellidos" ng-model="pais">
            </div>
            <div class="form-group ">
                <label for="region">Región</label>
                <input type="text" class="form-control" id="region" placeholder="Apellidos" ng-model="region">
            </div>
            <div class="form-group ">
                <label for="ciudad">Ciudad</label>
                <input type="text" class="form-control" id="ciudad" placeholder="Apellidos" ng-model="ciudad">
            </div>
            <div class="form-group">
                <label for="direccion">Direccion</label>
                <input type="text" class="form-control" id="direccion" placeholder="Direccion donde reside" ng-model="direccion">
            </div>
            <div class="form-group">
                <label for="telefono">Numero telefonico</label>
                <input type="text" class="form-control" id="telefono" placeholder="Numero telefonico o celular" ng-model="telefono">
            </div>
        
        </form>

        <div class="inputs">
            <a href="#/Hoteles" ng-click="enviar();"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><p>Guardar</p> </a> <br><br>
        </div>
    </div>
</div>