<div id="page-wrapper" ng-controller="empleadoController">
  <label>{{mensaje}}</label>

   <h3 class="text-center tit2">Registro de Empleados</h3>
  <div class="formularios">     
    <form>
      <div class="form-group ">
        <label for="exampleInputEmail1">Nombres</label>
        <input type="text" class="form-control" id="nombre" placeholder="Nombres" ng-model="nombre">
      </div>
      <div class="form-group ">
        <label for="exampleInputEmail1">Apellidos</label>
        <input type="text" class="form-control" id="apellido" placeholder="Apellidos" ng-model="apellido">
      </div>
  
      <div class="radio">Sexo:
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"  checked>
          Masculino
        </label>
         <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option2">
          Femenino
        </label>

      </div>


      <div class="form-group">
        <label for="exampleInputEmail1">Fecha de Nacimiento</label>
        <input type="date" class="form-control" id="nacimiento" ng-model="nacimiento">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">DNI</label>
        <input type="text" class="form-control" id="dni" placeholder="Numero de DNI" ng-model="dni">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Direccion</label>
        <input type="text" class="form-control" id="direccion" placeholder="Direccion donde reside" ng-model="direccion">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Numero telefonico</label>
        <input type="text" class="form-control" id="celular" placeholder="Numero telefonico o celular" ng-model="celular">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Tipo de empleado</label>
        <input type="text" class="form-control" id="emptipo_id" placeholder="Cargo que ocupara el empleado" ng-model="emptipo_id">
      </div>


       
    </form>

   <div class="inputs">
      
          <a href="" ng-click="enviar();"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><p>Guardar</p> </a> <br><br>
             

    </div>


  </div>
</div>

