        <!-- Page Content -->
        <div id="page-wrapper">
           <section>
               <h2 class="text-center tit">Panel de Control</h2>
               <div class="contenedor">
                    <div class="objeto">
                        <div class="superior text-center"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></div>
                        <div class="inferior text-center"><p>Reservas</p></div>
                       
                    </div>

                    <div class="objeto">
                        <div class="superior text-center"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></div>
                        <div class="inferior text-center"><p>Registrar</p></div>
                       
                    </div>

                    <div class="objeto">
                        <div class="superior text-center"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span></div>
                        <div class="inferior text-center"><p>Habitaciones</p></div>
                       
                    </div>

                    <div class="objeto">
                        <div class="superior text-center"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                        <div class="inferior text-center"><p>Clientes</p></div>
                       
                    </div>

                    <div class="objeto">
                        <div class="superior text-center"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span></div>
                        <div class="inferior text-center"><p>Empleados</p></div>
                       
                    </div>
 
                    <div class="objeto">
                        <div class="superior text-center"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></div>
                        <div class="inferior text-center"><p>Tipo Hablitaciòn</p></div>
                       
                    </div>

                    <div class="objeto">
                        <div class="superior text-center"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span></div>
                        <div class="inferior text-center"><p>Servicios</p></div>
                       
                    </div>

                    <div class="objeto">
                        <div class="superior text-center"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></div>
                        <div class="inferior text-center"><p>Usuarios</p></div>
                       
                    </div>
               </div>
           </section>
        <!-- /#page-wrapper -->

        <!-- Custom Theme JavaScript -->
        <script src="js/sb-admin-2.js"></script>
