<div id="page-wrapper" ng-controller="cargoController">
   <h3 class="text-center tit2">Registro de Usuarios</h3>
   <br><br><br>
  <div class="formularios">     
    <form>
      <div class="form-group ">
        <label for="exampleInputEmail1">Empleado</label>
        <input type="text" class="form-control" id="empleado" placeholder="Nombre del empleado">
      </div>
      <div class="form-group ">
        <label for="exampleInputEmail1">Usuario</label>
        <input type="text" class="form-control" id="usuario" placeholder="Escriba su usuario al sistema">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Contraseña</label>
        <input type="password" class="form-control" id="contraseña" placeholder="*************">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Cargo</label>
        <input type="text" class="form-control" id="emptipo" placeholder="Cargo que ocupara el empleado">
      </div>


       
    </form>

   <div class="inputs">
      
          <a href=""><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><p>Guardar</p> </a> <br><br>           

    </div>


  </div>
</div>
